*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}
:root{
    --bg:#F1F1F1;
    --accent:#E8325F;
    --primary:#21209C;
    --secondary:#FDB827;
    --textPrimary:#23120B;
    --textSecondary:#757575;
}
html{
    font-size: 10px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--bg);
}

/*#######################################################################
scroll-bar
#######################################################################*/

::-webkit-scrollbar{
    width:5px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: var(--textSecondary);
    border-radius:  5px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--textPrimary);
}

/*#######################################################################
tital
#######################################################################*/ 

.tital{
    width: 100%;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.tital h1{
    color: black;
    font-size: 4rem;
    display: inline-block;
    padding: 2px 3rem;
    text-transform: capitalize;
    text-align: center;
    border-bottom: 3px solid black;
    position: relative;
    margin-bottom: 2rem;
}
.tital h1::after{
    content: "";
    height: 1rem;
    width: 1rem;
    background-color: black;
    border-radius: 0.5rem;
    position: absolute;
    bottom: calc(-0.5rem - 1.5px);
    left: calc(-0.5rem - 1.5px);
}
.tital h1::before{
    content: "";
    height: 1rem;
    width: 1rem;
    background-color: black;
    border-radius: 0.5rem;
    position: absolute;
    bottom: calc(-0.5rem - 1.5px);
    right: calc(-0.5rem - 1.5px);
}

/*#######################################################################
navbar
#######################################################################*/

nav{
    width: 100vw;
    height: 6.5rem;
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
.sticky{
    position: sticky;
    top:0px;
    left:0px;
    z-index: 1000;
}
nav img[src="image/logo.png"]{
    width: auto;
    height: 6rem;
    margin-left: 3rem;
}
.nav-link{
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-link img{
    width: 5rem;
    height: auto;
    margin-right: 1rem;
    display: none;
}
nav ul{
    transition: 0.5s;
}
nav li{
    font-size: 2.5rem;
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 2rem;
    margin: auto 1rem;
    transition: 0.3s;
}
nav li:hover,nav li:active{
    background-color: var(--secondary);
    font-weight: 300;
}
nav a:link,nav a:visited{
    color: var(--bg);
}
.nav-link button{
    width: fit-content;
    height: fit-content;
    background-color: var(--accent);
    font-size: 1.5rem;
    font-weight: 200;
    border: 1px solid var(--textSecondary);
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin: auto 1rem;
    margin-right: 1rem;
} 

/*#######################################################################
header
#######################################################################*/

header{
    width: 100vw;
    height: calc(100vh - 6.5rem);
    background-image: url("../image/header-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.header-layer{
    width: 100%;
    height: 100%;
    background-color: #21209C40;
    display: flex;
    position: relative;
}
.part{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header-left p{
    font-size: 3rem;
    color: white;
    text-shadow: 0px 0px 10px var(--primary);
    margin-left: 2rem;
    margin-bottom: 5rem;
}
.header-left button{
    width: fit-content;
    height: 5rem;
    margin-left: 2rem;
    background-color: var(--secondary);
    border:none;
    border-radius: 1rem;;
}
.header-left a:link,.header-left a:visited{
    color: black;
    font-size: 2.5rem;
    margin: auto 2rem;
}
.header-left img{
    width: auto;
    height: 2rem;
    margin-left: 1rem;
    position: relative;
    transition: 0.5s;
}
.header-right img{
    width: 60%;
    height: auto;
    margin: 0rem auto;
}
header svg{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.header-left button:hover img{
    left: 0.5rem;
    height: 2.2rem;
}

/*#######################################################################
about us
#######################################################################*/

.about{
    width: 100%;
    min-height: 100vh;
}
.about-left img{
    width: 70%;
    height: auto;
}
.about-right{
    justify-content: flex-start;
}
.about-right h1{
    font-size: 3.5rem;
    text-transform: capitalize;
    margin-top: 2rem;
    color: var(--textPrimary);
}
.about-right p{
    font-size: 2rem;
    color: var(--textSecondary);
    margin-top: 2rem;
    margin-left: 2rem;
}
.about-right button{
    background-color: var(--secondary);
    width: fit-content;
    padding: 1rem 3rem;
    margin-top: 2rem;
    margin-left: 1.5rem;
    border-radius: 3rem;
    border: 1px solid var(--textSecondary);
}
.about-right button a:link,.about-right button a:visited{
    color: var(--textPrimary);
}
.about-right button:hover{
    background-color: var(--accent);
}
.about-right button:hover a{
    color: var(--bg);
}
.about-main{
    width: 100%;
    height: calc(100vh - 16rem);
    display: flex;
}

/*#######################################################################
course
#######################################################################*/

.course-section{
    background-color: white;
    padding-bottom: 5rem;
}
.course-main{
    width: 100%;
    min-height: calc(100vh - 16rem);
    display: flex;
    justify-content: center;
    align-items: center;
}
.course-cont{
    width: 70rem;
    height:fit-content;
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(20rem,1fr));
    grid-gap: 5rem;
    padding: 5rem;
    background-color: var(--bg);
    border-radius: 3rem;
}
.course{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding: 2rem;
    border: 1px solid var(--textPrimary);
    border-radius: 2rem;
}
.course img{
    width: auto;
    height: 5rem;
}
.course div{
    margin-left: 1rem;
}
.course h4{
    font-size: 1.3rem;
    text-transform: capitalize;
    color: var(--textPrimary);
}
.course p{
    font-size: 1rem;
    text-transform: capitalize;
    color: var(--textSecondary); 
}
.course:hover,.course:active{
    background-color: var(--secondary);
    cursor: pointer;
}
.course:hover h4,.course:active h4{
    color: white;
    text-shadow: 0px 0px 3px var(--textPrimary);
}
.course:hover p,.course:active p{
    color: var(--bg);
    text-shadow: 0px 0px 3px var(--textSecondary);
}

/*#######################################################################
educators
#######################################################################*/

.educators{
    padding-bottom: 5rem;
}
.educators-main{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5rem;
}
.educator-profile{
    width: 20rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile{
    width: 15rem;
    height: 15rem;
    border: 1px solid var(--textSecondary);
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin-bottom: 2rem;
}
.educator-profile h3{
    font-size: 2rem;
    text-transform: capitalize;
}
.educator-profile:hover{
    cursor: pointer;
}
.educator-profile:hover .profile{
    background-size: 105%;
}

/*#######################################################################
contact
#######################################################################*/

.contact{
    width: 100%;
    background-color: white;
    padding-bottom: 5rem;
}
.contact-main{
    width: 100%;
    display: flex;
    justify-content: center;
}
.contact-main form{
    width: 70rem;
    background-color: #F0D9FF;
    border-radius: 3rem;
    padding: 2rem 2rem;
} 
.contact-main input{
    width: calc(100% - 3rem);
    height: 3rem;
    padding-left: 2rem;
    border-radius: 2rem;
    margin: 1rem 0px;
    border: 1px solid var(--textSecondary);
}
.contact-main label{
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--textPrimary);
    margin-top: 2rem;
}
.contact-main textarea{
    width: calc(100% - 6rem);
    height: 8rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
}
.contact-main button{
    padding: 0.5rem 3rem;
    border-radius: 2rem;
    font-size: 2rem;
    border: 1px solid var(--textSecondary);
}
.contact-main button:hover{
    cursor: pointer;
}
.contact-main button[type="submit"]{
    background-color: var(--accent);
    color: var(--bg);
}
.contact-main button[type="submit"]:active{
    background-color: #d91a4a;
}
.contact-main button[type="reset"]{
    background-color: var(--secondary);
    color: var(--textPrimary);
}
.contact-main button[type="reset"]:active{
    background-color: #c8921c;
}

/*#######################################################################
footer
#######################################################################*/

footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--primary);
    padding: 5rem 0px;
}
.foot-block{
    width:20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foot-block h2{
    font-size: 2rem;
    color: white;
    text-transform: capitalize;
    text-decoration: underline;
}
.foot-block p{
    font-size: 1.5rem;
    color: var(--bg);
    text-align: center;
}
.foot-block a:link,.foot-block a:visited{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--bg);
    margin: auto;
}
.foot-block img{
    width:3rem;
    height: 3rem;
    border-radius: 50%;
}
.foot-block img:hover{
    cursor: pointer;
}

/*#######################################################################
media quries
#######################################################################*/

@media screen and (max-width:950px){
    nav ul{
        width: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top:6.5rem;
        left:-100%;
        opacity: 0;
        background-color: var(--primary);
        padding: 3rem 1rem;
    }
    .nav-link img{
        display: inline-block;
    }
    .active{
        left:0px;
        opacity: 1;
    }
}

@media screen and (max-width:850px){
    html{
        font-size: 8px;
    }
    .part{
        width: 100%;
        min-height: 50%;
    }
    .header-layer{
        flex-direction: column;
    }
    .header-left{
        width: 100%;
        height: 100%;
    }
    .header-right{
        display: none;
    }
    .about-main{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
}