*{
    padding: 0px;
    margin: 0px;
    font-family: 'Play', sans-serif;
    list-style: none;
}
:root{
    --bg:#EFEFEF;
    --primarText:#000000;
    --secondryText:#757575;
}
html{
    font-size: 10px;
}
body{
    width: 100vw;
    height: fit-content;
    overflow-x: hidden;
    background-color: var(--bg);
    display: flex;
    align-items: flex-start;
    justify-content: space-between
}
::-webkit-scrollbar{
    display: none;
}
/*#######################################################################
profile
#######################################################################*/
.profile{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(255, 255, 255);
    border-radius:50%;
    margin: 5px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.profile::before{
    content: "";
    width: calc( 100% + 20px);
    height: calc( 100% + 20px);
    background: linear-gradient(45deg,#FF9F29,#FF280F,#FE3CA1,#930AF8);
    border-radius: 50%;
    position: absolute;
    top:-10px;
    left:-10px;
    z-index: -1;
}

.non-profile{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius:50%;
    margin: 5px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    outline: 1px solid var(--secondryText); 
}
/*#######################################################################
tital
#######################################################################*/
.tital{
    font-size: 2rem;
    text-transform: capitalize;
    margin-left: 2rem;
}

/*#######################################################################
aside
#######################################################################*/

aside{
    width: 350px;
    background-color: white;
    border:1px solid var(--secondryText);
    border-radius: 3rem;
    position: sticky;
    top:0px;
    left:0px;
}
.logo{
    width:100%;
    display: flex;
    justify-content: center;
}
.logo img{
    width: 80%;
    height: auto;
}
.aside-profile{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aside-image{
    width: 200px;
    height: 200px;
    margin: 3rem;
}
.aside-profile h1{
    font-size: 2rem;
    color: var(--primarText);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.profile-details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.profile-details h3{
    font-size: 1.5rem;
    color: var(--secondryText);
    text-align: center;
}
.profile-details h4{
    font-size: 1.5rem;
    color: var(--primarText);
    text-align: center;
}
.aside-opsion img{
    height: 20px;
    width:auto;
    margin: 3px 2rem;
}
.aside-opsion a{
    font-size: 1.5rem;
    text-transform: capitalize;
    line-height: 25px;
    text-decoration: none;
    color: var(--primarText);
}

/*#######################################################################
main
#######################################################################*/
main{
    width:calc(100vw - 380px);
    background-color: white;
    border: 1px solid var(--secondryText);
    border-radius:3rem;
    position: relative;
    z-index: -10;
}
nav{
    width:100%;
    height:80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    width:25rem;
    height: 4rem;
    padding-left: 0.5rem;
    background-color: white;
    border-radius: 2rem;
    outline: 1px solid var(--secondryText);
    display: flex;
    align-items: center;
    margin-left: 2rem;
}
.search img{
    height: 70%;
    width: auto;
}
.search input{
    width:15rem;
    height: 100%;
    background-color: white;
    outline: none;
    border: none;
}
.icon{
    margin-right: 4rem;
}
.icon img{
    height: 3rem;
    width:auto;
    margin: 0px 1rem;
}

/*#######################################################################
stories
#######################################################################*/
.stories{
    width: 100%;
}
.storie-icon{
    width: 80px;
    height: 80px;
    margin: 0px 1rem;
    display: inline-block;
}
.stories .row{
    width:100%;
    height: 12rem;
    overflow-x: auto ;
    white-space: nowrap;
    /* display: flex;
    align-items: center;
    justify-content: flex-start; */
}
/*#######################################################################
reel
#######################################################################*/

.reel-icon-cont{
    width:100%;
    height:28rem;
    margin-bottom:2rem ;
    overflow-x: scroll;
    white-space: nowrap;
}
.reel-icon{
    width:15rem;
    height: 25rem;
    border: 1px solid var(--secondryText);
    border-radius: 2rem;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin: 1rem 2rem;
}
.reel-profile{
    width:50px;
    height: 50px;
    margin: 1rem auto;
}
.reel-icon p{
    display: block;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #0000008a;
    font-size: 1rem;
}

/*#######################################################################
posts
#######################################################################*/
.post-cont .cols{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 3rem;
}
.post,.post-img{
    width: 100%;
    height: fit-content;
}
.post-img{
    display: flex;
    justify-content: center;
}
.post-img img{
    width:95%;
    height: auto;
    border-radius: 2rem;
    border: 1px solid var(--secondryText);
    margin: 1rem auto;
}
.post-disc{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.post-disc div{
    width: 3rem;
    height: 3rem;
    margin-left: 2ren;
    display: inline-block;
}
.post-disc img{
    width:2rem;
    height:auto;
    display: inline-block;
}


